{% extends 'base.html' %}

{% block title %}Book Ticket - Transit System{% endblock %}

{% block content %}
    <div class="card card-small shadow-sm">
        <div class="card-body">
            <h3 class="card-title mb-3">Book Ticket</h3>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">User ID</label>
                    <input class="form-control" value="{{ session.get('user_id') }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="tripid" class="form-label">Trip</label>
                    <select name="trip_id" id="tripid" class="form-select" required>
                        {% for trip in trips %}
                        <option value="{{ trip[0] }}">{{ trip[0] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="purchasetime" class="form-label">Purchase Time</label>
                    <input name="purchase_time" id="purchasetime" type="datetime-local" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="seatnumber" class="form-label">Seat #</label>
                    <input name="seat_number" id="seatnumber" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <input name="status" id="status" class="form-control" value="Booked" required>
                </div>

                <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Book Ticket</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}