<!DOCTYPE html>
<html>

<head>
    <title>Create Vehicle</title>
</head>

<body>
    <h1>Create Vehicle</h1>
    <a href="{{ url_for('vehicles') }}">Back to Vehicles</a>
    <hr>
    <form method="post">
        <label for="routeid">Route ID:</label>
        <input name="routeid" id="routeid" required><br><br>
        <label for="type">Type:</label>
        <input name="type" id="type" required><br><br>
        <label for="capacity">Capacity:</label>
        <input name="capacity" id="capacity" type="number" required><br><br>
        <label for="registration_number">Registration Number:</label>
        <input name="registration_number" id="registration_number" required><br><br>

        <label for="status">Status:</label>
        <input name="status" id="status" required><br><br>
        <input type="submit" value="Create Vehicle">
    </form>
</body>

</html>