<!DOCTYPE html>
<html>

<head>
    <title>Stations</title>
</head>

<body>
    <h1>Stations</h1>
    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a> |
    <a href="{{ url_for('create_station') }}">Add New Station</a>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Type</th>
        </tr>
        {% for s in stations %}
        <tr>
            <td>{{s[0]}}</td>
            <td>{{s[1]}}</td>
            <td>{{s[2]}}</td>
            <td>{{s[3]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>